<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>By Title</title>
  <meta name="viewport" content="width=device-width; initial-scale=1;">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css" type="text/css">
</head>
<body>
  <div class="container">
    <table class="u-full-width">
      <tbody>
        {% for song in songs %}
        <tr>
          <td><a href="{{ song.link }}" class="rowlink">{{ song.title }}</a></td>
          <td>{{ song.artist }}</td>
          <td>{{ song.year }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</body>
</html>
