<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-304959-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-304959-1');
  </script>
  <meta charset="utf-8">
  <title>Jam Songs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/normalize.css?v={{ static_file_hashes['css/normalize.css'] }}">
  <link rel="stylesheet" href="css/skeleton.css?v={{ static_file_hashes['css/skeleton.css'] }}">
  <link rel="stylesheet" href="css/custom.css?v={{ static_file_hashes['css/custom.css'] }}" type="text/css">
  <script src="js/search_data.js?v={{ static_file_hashes['js/search_data.js'] }}"></script>
  <script src="js/song_table.js?v={{ static_file_hashes['js/song_table.js'] }}"></script>
  <script src="js/filter.js?v={{ static_file_hashes['js/filter.js'] }}"></script>
  <script src="js/search.js?v={{ static_file_hashes['js/search.js'] }}"></script>
  <script src="js/random.js?v={{ static_file_hashes['js/random.js'] }}"></script>
  <script src="js/sort_popover.js?v={{ static_file_hashes['js/sort_popover.js'] }}"></script>
</head>
<body>
  <div class="container">
    <div class="row navbar-top">
      <div class="one column sort">
        <a id="sort-popover-toggle" data-popover="#sort-popover" href="#">Title &blacktriangledown;</a>
        <div id="sort-popover-body" class="popover">
          <ul class="popover-list" id="nav">
            <li class="popover-item"><a class="popover-link title">Title</a></li>
            <li class="popover-item"><a class="popover-link artist">Artist</a></li>
            <li class="popover-item"><a class="popover-link year">Year</a></li>
          </ul>
        </div>
      </div>
      <div class="eight columns search-col">
        <input id="search" type="search">
      </div>
      <div class="one column">
        <button id="random" class="button-primary">Random Song</button>
      </div>
      <div class="twelve columns" id="searchFilter">
        {% for decade in decades %}
        <button class="filter" id='decade{{decade}}'>{{decade}}</button>
        {% endfor %}
      </div>
    </div>
    <table id="songs" class="u-full-width">
      <tbody>
      {% for song in songs %}
      <tr id="{{ song.uuid }}" data-download-link="/viewer.html?uuid={{ song.uuid }}" data-view-link="/viewer.html?uuid={{ song.uuid }}">
        <td class="song-title" data-sort="{{ song.title_sort }}">{{ song.title }}</td>
        <td data-sort="{{ song.artist_sort }}">{{ song.artist }}</td>
        <td>{{ song.year }}</td>
      </tr>
      {% endfor %}
    </table>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><span class="navbar-link">{{ songs|count }} songs</span></li>
          <li class="navbar-item"><a class="navbar-link" href="https://docs.google.com/spreadsheets/d/1yGF1CY-obfm5QWiVhvvBoN5XYtQe902hs1np6b6G9Ag/edit?usp=sharing">Data</a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://github.com/skrul/jamsite">Source</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <script src="js/site.js?v={{ static_file_hashes['js/site.js'] }}"></script>
<script>
  var st = new SongTable(document.getElementById("songs"));
  st.sort('title');
  var f = new Filter(document.getElementById("searchFilter"));
  var s = new Search(document.getElementById("search"), st, f, INDEX_DATA, INDEX_ID_MAP, DECADES_MAP);
  var r = new Random(document.getElementById("random"), st, s, INDEX_ID_MAP);
  var sp = new SortPopover(
    document.getElementById("sort-popover-toggle"),
    document.getElementById("sort-popover-body"),
    st
  );
</script>
</body>
</html>
