<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jamulus Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/normalize.css?v={{ static_file_hashes['css/normalize.css'] }}">
  <link rel="stylesheet" href="css/skeleton.css?v={{ static_file_hashes['css/skeleton.css'] }}">
  <link rel="stylesheet" href="css/jamulus.css?v={{ static_file_hashes['css/jamulus.css'] }}" type="text/css">
  <script src="js/jamulus_server.js?v={{ static_file_hashes['js/jamulus_server.js'] }}"></script>
</head>
<body>
  <div class="container">
    <h1>Jamulus Server</h1>

    <p><strong>jamulus.skrul.com</strong></p>
    <p>Status: <span id="server-status"></span></p>
    <p>Started at: <span id="server-started-at"></span></p>
    <button id="server-control" class="button-unknown"></button>
  </div>
<script src="js/site.js?v={{ static_file_hashes['js/site.js'] }}"></script>
<script>
  var js = new JamulusServer();
  js.refresh_status();
</script>
</body>
</html>
